TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE=+1234567890
TWILIO_WHATSAPP=whatsapp:+1234567890
RECIPIENT_PHONE=+91XXXXXXXXXX

DR_DB_HOST=localhost
DR_DB_USER=dr_user
DR_DB_PASSWORD=dr_password_2024
DR_DB_NAME=diabetic_retinopathy_db

SECRET_KEY=thiran_secret_key_2024